[submodule "Math"]
	path = Math
	url = git@github.com:Eric-Bwr/Math.git
[submodule "Audio"]
	path = Audio
	url = git@github.com:Eric-Bwr/Audio.git
[submodule "OpenGL"]
	path = OpenGL
	url = git@github.com:Eric-Bwr/OpenGL.git
[submodule "UI"]
	path = UI
	url = git@github.com:Eric-Bwr/UI.git
